/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== BODY ===== */
body {
    font-family: 'Poppins', sans-serif;
    background: #111111;
    color: #ffffff;
}

/* ===== NAVBAR ===== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: #111111;
    border-bottom: 1px solid rgba(255,255,255,0.08);
}

/* ===== LOGO ===== */
.logo {
    font-family: 'Cinzel', serif;
    font-size: 34px;
    font-weight: 700;
    color: #C9A227;
}

/* ===== MENU ===== */
.nav-menu {
    display: flex;
    list-style: none;
    gap: 40px;
}

/* ===== LINK ===== */
.nav-menu a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.nav-menu a:hover {
    color: #C9A227;
}
