/* Reset Dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Poppins', sans-serif;
    background: #111111;
    color: #ffffff;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 8%;

    background: rgba(17,17,17,0.95);

    position: sticky;
    top: 0;

    border-bottom: 1px solid rgba(255,255,255,0.08);
}

/* Logo */
.logo {
    font-family: 'Cinzel', serif;
    font-size: 28px;
    font-weight: 700;
    color: #C9A227;
}

/* Menu */
.nav-menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

/* Link */
.nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: .3s;
}

/* Hover */
.nav-menu a:hover {
    color: #C9A227;
}
/* ===== Logo ===== */

.logo img{
    width:60px;
    height:auto;
    display:block;
}

/* ===== Navbar ===== */

.navbar{
    height:80px;
}
